@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    position: relative;
  }
  .card .front {
    transform: rotateY(90deg);
    transition: all easy-in 0.2s;
    position: absolute;
  }
  .flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }
  .card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }
  .flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

